.project_card {
  width: 25%;
  height: fit-content;
  margin: 0.5%;
  padding: 1em;
  border: 2px solid darkgray;
  border-radius: 5px;
}

.project_card h4 {
  margin-bottom: 1em;
  padding: 1em;
  font-size: 1.3em;
  color: var(--B);
}

.project_card p {
  width: 100%;
  height: fit-content;
  margin-top: 1em;
  color: var(--G2);
}
.project_card p span {
  font-weight: 1000;
}

.category_text {
  display: flex;
  align-items: center;
}

.category_text span {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  display: block;
  border-radius: 50%;
  background-color: #ccc;
}

.category_text .infrastructure {
  background-color: #ffaebc;
}
.category_text .development {
  background-color: #a0e7e5;
}
.category_text .design {
  background-color: #b4f8c8;
}
.category_text .management {
  background-color: #fbe7c6;
}

.project_card_actions {
  margin-top: 2em;
  display: flex;
  align-items: center;
}

.project_card_actions a,
.project_card_actions button {
  margin-right: 1em;
  padding: 0.6em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  text-decoration: none;
  border: none;
  border: 1px solid var(--B);
  border-radius: 10px;
  background-color: #fff;
  color: var(--B);
  cursor: pointer;
  transition: color 0.8s, background-color 0.3s;
}

.project_card_actions a:hover,
.project_card_actions button:hover {
  background-color: darkcyan;
  color: var(--Y);
}

.project_card_actions svg {
  margin-right: 0.5em;
}
