.form_control {

  display: flex;
  flex-direction: column;
}

.form_control label {
  margin-bottom: 0.6em;
  font-weight: 1000;
}

.form_control input {
  padding: 0.7em;
  border: none;
  border-radius: 7px;
}
.form_control input::placeholder {
  color: #7b7b7b;
}
