.btn {
  height: fit-content;
  padding: 0.5em 3em;
  margin-top: 10em;
  text-decoration: none;
  background-color: darkcyan;
  color: #fff;
  transition: color 0.5s;
  transition: padding 0.1s;
  border-radius: 10px;
}
.btn:hover {
  color: var(--Y);
}
