.form_control {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.form_control label {
  margin-bottom: 0.6em;
  font-weight: 1000;
}

.form_control select {
  padding: 0.7em;
  border: none;
  border-radius: 10px;
}
