.btn {
  margin: 1em 3em;
  padding: 0.5em 3em;
  text-decoration: none;
  border: none;
  background-color: black;
  color: #fff;
  cursor: pointer;
  transition: color 0.5s;
}
.btn:hover {
  color: var(--Y);
}
