



.newproject_container {
  width: 400px;
  height: 35em;
  margin: 0 8em 1em 0;
  padding: 3em;
 
  border-radius: 15px;
  margin-top: 1em;
}
.newproject_container h1 {
  font-size: x-large;
  margin-top: -1em;

}
.newproject_container p {
  color: var(--B);
}
