h2 {
  font-size: 2em;
}

.project_details {
  padding: 2em;
}

.project_details h1,
.project_details h2,
.project_details p {
  margin-bottom: 0.5em;
}

.project_details h1 {
  padding: 0.4em;
  color: var(--B);
}

.project_details span {
  font-weight: 1000;
}

.details_container,
.service_form_container {
  margin-bottom: 1.2em;
  padding-bottom: 1.2em;  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--G2);
}

.btn {
  max-height: 40px;
  padding: 0.5em 1em;
  text-decoration: none;
  border: none;
  background-color: darkcyan;
  color: #fff;
  cursor: pointer;
  transition: color 0.5s;
}
.btn:hover {
  color: var(--Y);
}

.project_info {
  width: 100%;
}
